name: Flutter CI & Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          cache: true
          flutter-version: "3.38.5"

      - name: Set up Just
        uses: extractions/setup-just@v3

      - name: Install dependencies
        run: flutter pub get

      - name: Run code generation
        run: just generate

      - name: Run tests
        run: flutter test

      - name: Build Flutter web
        run: flutter build web --release --wasm

      - name: Upload artifact for deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./build/web/

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
